<div class="container-fluid">
    <div class="row">
        Today  is <date></date>
    </div>
    <div class="row">
        <time></time>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="loginContainer"> 
        <div class="loginClick" (click)="slideToggle()">LOGIN</div>
        <div class="loginExtended" [@slidePanel]='state' style="display:none">
            <input [(ngModel)]="email" name="email" placeholder="Email"/>
            <br>
            <input [(ngModel)]="password" name="password" placeholder="Password"/>
            <div id="login">LOGIN</div>
        </div>
    </div>
  </div>
</nav>


